{
  "parser": "babel-eslint",
  "extends": [
    "airbnb"
  ],
  "env": {
    "browser": true
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "max-len": ["error", 120, { "ignoreTrailingComments": true }],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/no-unescaped-entities": "off",
    "react/jsx-one-expression-per-line": "off",
    "react/jsx-indent-props": ["error", 4],
    "indent": ["error", 4, {"SwitchCase": 1}],
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/no-noninteractive-element-interactions": "off",
    "react/jsx-indent": ["error", 4],
    "import/no-extraneous-dependencies": [
      0
    ],
    "global-require:": "off"
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  }
}